.section {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (min-width: 1536px) {
  .section {
    max-width: 1280px;
    border: 1px solid lime;
  }
  
}

/* xl */
@media (max-width: 1280px) {
  .section {
    border: 1px solid orange;
  }
}

/* lg */
@media (max-width: 1024px) {
  .section {
    border: 1px solid cyan;
  }
  
  .container{
    grid-template-columns: 1fr;
    padding: 1em;
  }

  main{
    padding: 2em 1em 60px 1em;
  }

  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid #42434a;
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;
    margin: 0;
    left: 0;

    > ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li{
      height: 100%;
    }

    ul a{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child{
      display: none;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .section {
    max-width: 640px;
    border: 1px solid darkorchid
  }
  

}

/* sm */
@media (max-width: 640px) {
  .section {
    max-width: 475px;
    background: #000;
    border: 1px solid black;
  }

  .progress-section{
    display: grid;
  }
}

/* xs */
@media (max-width: 475px) {
  .section {
    width: 100%;
    border: 1px solid mediumaquamarine;
  }
}