<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Tracker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body
    class="d-flex justify-content-center align-items-center py-4 bg-primary-subtle"
    style="min-height: 100vh"
  >
    <div
      class="main-container container-fluid d-flex align-items-center rounded bg-light py-5 px-4 flex-column"
    >
      <div
        class="header d-flex align-items-center flex-column"
        style="width: 100%"
      >
        <h1 class="display-2">Study Tracker</h1>

        <div
          class="container d-flex align-items-center justify-content-between px-4"
        >
          <h2 class="h3 bg-warning p-2 rounded">Streak: {{streak}}</h2>
          <h2 class="h3 bg-warning p-2 rounded">Date: {{date}}</h2>
        </div>
        <hr
          class="opacity-100 border border-3 border-primary rounded"
          style="width: 100%"
        />
      </div>

      <div class="todo-section container mt-5 p-3">
        <h2 class="h1 p-3 bg-warning rounded" style="--bs-bg-opacity: 0.4">
          Today's Targets
        </h2>
        <hr class="border border-primary rounded" />
        <div class="targets d-flex flex-column gap-2 p-3">
          {% for target in targets %}
          <span
            class="h4 d-flex justify-content-between align-items-center px-2 m-0 text-primary"
            data-sub="{{target[0]}}"
          >
            {{target[1].title()}}
            <button class="btn btn-primary" onclick="completed(this)">
              Completed
            </button>
          </span>
          <hr />
          {% endfor %}
        </div>
      </div>

      <div class="my-5" style="width: 100%">
        <hr class="border border-primary border-4 rounded opacity-75" />
      </div>

      <div class="upcoming-test-section container my-3 p-3" style="width: 100%">
        <div
          class="heading d-flex justify-content-between align-items-center pe-3 p-3 bg-warning rounded"
          style="--bs-bg-opacity: 0.4"
        >
          <h2 class="h1">Upcoming Test</h2>
        </div>
        <hr class="border border-primary rounded" />
        <div class="syllabus d-flex flex-column gap-2 p-3">
          <div class="d-flex justify-content-center flex-column sub h5">
            <table>
              <thead class="border border-dark">
                <th class="py-3 text-center ps-2">S No.</th>
                <th class="py-3 text-center">Subject</th>
                <th class="py-3 text-center">Topic Name</th>
                <th class="py-3 text-center">Question Count</th>
                <th class="py-3 text-center">Book</th>
                <th class="py-3 text-center">Date</th>
              </thead>
              <tbody class="border border-dark">
                {% for test in u_tests %}
                <tr>
                  {% for i in test %}
                  <td class="text-center">{{i.title()}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="my-5" style="width: 100%">
        <hr class="border border-primary border-4 rounded opacity-75" />
      </div>

      <div class="prev-test-scores container my-3 p-3 d-flex flex-column h5">
        <h2 class="h1 p-3 bg-warning rounded" style="--bs-bg-opacity: 0.4">
          Prev Test Scores
        </h2>
        <hr class="border border-primary rounded" />
        <table class="mt-3">
          <thead class="border border-dark">
            <th class="text-center py-3">S No.</th>
            <th class="text-center py-3">Subject</th>
            <th class="text-center py-3">Marks Scored</th>
            <th class="text-center py-3">Total Marks</th>
          </thead>
          <tbody class="border border-dark">
            {% for i in range(len(tests)) %}
            <tr>
              <td class="text-center">{{i+1}}.</td>
              {% for j in tests[i]%}
              <td class="text-center">{{j}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="my-3">
          <button class="btn btn-primary btn-lg" onclick="addTest()">
            Add Test Score
          </button>
        </div>
      </div>

      <div class="my-5" style="width: 100%">
        <hr class="border border-primary border-4 rounded opacity-75" />
      </div>

      <div class="prog container my-3 p-3 d-flex flex-column h5">
        <h2 class="h1 bg-warning p-3 rounded" style="--bs-bg-opacity: 0.4">
          Progress Section
        </h2>
        <div
          class="progress-section p-3 d-flex justify-content-around align-items-start flex-column"
        >
          <!-- overall -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Overall:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[0]}}%; height: 0%"
            ></div>
          </div>

          <br />

          <!-- math -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Math:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[1]}}%; height: 0%"
            ></div>
          </div>

          <br />

          <!-- physics -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Physics:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[2]}}%; height: 0%"
            ></div>
          </div>

          <!-- chemistry -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Chemistry:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[3]}}%; height: 0%"
            ></div>
          </div>

          <!-- biology -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Biology:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[4]}}%; height: 0%"
            ></div>
          </div>

          <br />

          <!-- history -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">History:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[5]}}%; height: 0%"
            ></div>
          </div>

          <!-- civics -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Civics:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[6]}}%; height: 0%"
            ></div>
          </div>

          <!-- geography -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Geography:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[7]}}%; height: 0%"
            ></div>
          </div>

          <!-- economics -->
          <div class="sub d-flex align-items-center" style="width: 100%">
            <div class="h4 pe-3 text-end align-self-end">Economics:</div>
            <div
              class="progress-bar border border-primary border-3 opacity-75 rounded"
              style="width: {{progress[8]}}%; height: 0%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var comp_topic = "";
    var sub = "";
    function completed(topic) {
      comp_topic = topic.parentElement.innerText;
      sub = topic.parentElement.dataset.sub;
      comp_topic = comp_topic.slice(0, -9);

      localStorage.setItem("comp_topic", comp_topic);
      localStorage.setItem("sub", sub);

      window.location.href = `/update?sub=${sub}&chapter=${comp_topic}`;
    }

    function addTest() {
      window.location.href = "/addTest";
    }
  </script>
</html>
